<div class="layui-tab-item">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>易支付设置1
            <!--<a target="_blank" href="https://www.zhapay.com/ad_8rRGj4nN.html" class="layui-btn layui-btn-primary">点击进入注册</a>-->
        </legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">支付商家编号：</label>
        <div class="layui-input-inline w400">
            <input type="text" name="pay[epay][appid]" placeholder="" value="{$config['pay']['epay']['appid']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">支付商家密钥：</label>
        <div class="layui-input-inline w400">
            <input type="text" name="pay[epay][appkey]" placeholder="" value="{$config['pay']['epay']['appkey']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接口地址：</label>
        <div class="layui-input-inline w400">
            <input type="text" name="pay[epay][apiurl]" placeholder="默认填写: http://pay.zmyzf.cn/" value="{$config['pay']['epay']['apiurl']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商家收款平台：</label>
        <div class="layui-input-inline w400">
            <input type="text" name="pay[epay][type]" placeholder="" value="{$config['pay']['epay']['type']}" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">1：微信；2：支付宝；3：QQ财付通（多个用逗号分隔）</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">支付方式名称：</label>
        <div class="layui-input-inline w400">
            <input type="text" name="pay[epay][name]" placeholder="" value="{$config['pay']['epay']['name']}" class="layui-input">
        </div>
    </div>
    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">收款通知类型：</label>-->
        <!--<div class="layui-input-inline w400">-->
            <!--<input type="text" name="pay[zhapay][act]" placeholder="" value="{$config['pay']['zhapay']['act']}" class="layui-input">-->
        <!--</div>-->
        <!--<div class="layui-form-mid layui-word-aux">2表示及时到账 1则为商家代收款</div>-->
    <!--</div>-->
</div>